@{
    ViewData["Title"] = "Лабораторна роботи ІСтаТП 2023";
}

@if (User.Identity.IsAuthenticated)
{
    <p>
    @User.Identity.Name
    </p>

    <form method ="post" asp-controller ="Account" asp-action = "Logout">
       <input type ="submit" value = "Вихід" class="btn btn-info" />
   </form>
}
else
{
    <h1 style="margin-top: 100px; text-align: center">Вітаємо на сторінці CinemasApp</h1>
    <div class="d-flex justify-content-center" style="gap:10px; margin-top: 80px">
        <a asp-controller="Account" asp-action="Login" class="btn btn-info" style="font-size: 20px;"> Вхід</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-info" style="font-size: 20px;"> Реєстація </a>
    </div>
}