@model IEnumerable<LabProject.Models.User>

<h2 class="mb-3 mt-3">Список користувачів</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
        <td>
        <a class="btn btn-info" asp-action="Edit" asp-route-userid="@user.Id">Права доступу</a>
        </td>
        </tr>
    }
</table>