@model LabProject.Models.Hall

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагувати залу</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HallId" />
            <div class="form-group">
                <label asp-for="HallName" class="control-label"></label>
                <input asp-for="HallName" class="form-control" />
                <span asp-validation-for="HallName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HallCapacity" class="control-label"></label>
                <input asp-for="HallCapacity" class="form-control" />
                <span asp-validation-for="HallCapacity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CinemaId" class="control-label"></label>
                <select asp-for="CinemaId" class="form-control" asp-items="ViewBag.CinemaId"></select>
                <span asp-validation-for="CinemaId" class="text-danger"></span>
            </div>*@

            <input type="hidden" value="@Model.CinemaId" name="CinemaId" />

            <div class="form-group">
                <input type="submit" value="Зберегти зміни" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">До списку зал</a>*@
    @Html.ActionLink("До списку зал", "Details", "Cinemas", new { id = Model.CinemaId})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
