@model LabProject.Models.Cinema

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що хочете видалити кінотеатр зі списку?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinemaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinemaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinemaAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinemaAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CinemaId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">До списку кінотеатрів</a>
    </form>
</div>
